.group-cart{
    overflow: hidden;
    background: #f7f7f7;
    padding-bottom: 50px;
}
.cart {
    overflow: hidden;
    background: white;
    margin-bottom: 20px;
    .cart-header{
        display: flex;
        border: 1px solid #ebebeb;

        &__item{
            font-family: "Roboto",sans-serif;
            float: left;
            color: #292929;
            text-align: center;
            font-weight: 400;
            padding: 18px 0px;
            font-size: 14px;
            border-top: solid 1px #ebebeb;
            border-left: solid 1px #ebebeb;
        }
    }

    .cart-body{
        border-bottom: 1px solid #ebebeb;

        &__item{
            display: flex;
            border-bottom: 1px solid #ebebeb;

            &--image{
                max-width: 100%;
    
                img{
                    width: 75px;
                    height: auto;
                }
            }
        }

        .list{
            float: left;
        padding: 20px 10px 20px 20px;
        line-height: 20px;
        vertical-align: top;
        height: 160px;
        display: -webkit-flex;
        // -webkit-align-items: center;
        display: -ms-flexbox;
        display: flex !important;
        flex-flow: column;
        justify-content: center;
        }
    }
}


.group-checkout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    z-index: 110;
    margin-bottom: 20px;
    &__total{
        width: 30%;
        &--alert{
            display: flex;
            border-radius: 30px;
            border: solid 1px #ebebeb;
            width: 100%;
            background: #fff
        }
    }
    .left{
        padding: 0px 15px;
        height: 60px;
        line-height: 60px;
        border: none;
        width: 50%;
        text-align: center;
        float: left;   
    }

    .right{
        font-family: "Roboto",sans-serif;
        padding: 0px 15px;
        height: 60px;
        line-height: 60px;
        border: none;
        width: 50%;
        text-align: center;
        float: left;
        color: #ef562c
    }

    .back-home{
       &:hover{
        color: #ef562c
       }
    }
}


.group-button-cart {
  float: right;
    button{
        font-family: "Mulish",sans-serif;
        display: inline-block;
        padding: 0 40px;
        height: 60px;
        font-size: 14px;
        line-height: 57px;
        color: #fff;
        background-color: #ef562c;
        border: solid 1px #ef562c;
        margin: 0 auto 20px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        border-radius: 30px;
        &:hover{
          cursor: pointer;
          border-color: #ef562c;
          color: #ef562c;
          background: #fff;
          text-decoration: none;
        }
    }
}

.group-button-paypal{
  float: right;
  vertical-align: middle;
}

.group_cart {
    margin-top: 40px;

    &__quantity{
      display: flex;
      align-items: center;
    }

    &__label {
      margin-right: 20px;
    }

    &__custom {
      width: 70px;
      display: inline-block;
      position: relative;
      padding: 0;
      margin: 0px !important;
      border: none;
      box-shadow: none;
      height: 40px;
      min-height: unset;

      .btn{
        font-size: 14px;
        line-height: 0px;
        border: solid 1px #ebebeb;
        display: inline-block;
        width: 33px;
        height: 17.5px;
        background: transparent;
        float: left;
        color: #9c9c9c;
        text-align: center;
        padding: 0px;
        position: absolute;
        padding-right: 5px;
      }
    
      .incresea{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 18px;
        font-size: 14px;
        right: 0px;
        top: 17px;
        border-left: 0;
      }
      
      .quantity{
        margin: 0px;
        display: block;
        float: left;
        color: #292929;
        height: 33px;
        border: 1px solid #ebebeb;
        width: 35px;
        text-align: center;
        box-shadow: none;
        font-size: 14px;
        font-family: "Mulish",sans-serif;
        min-height: unset;
        padding: 0;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        background: transparent;
        
      }

      .decresea{
        border-left: none;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 0;
      }

    }
  }